In [1]:
import camelot
import tkinter
import ghostscript
import tabula
import os

#from ctypes.util import find_library
#>>> find_library("gs")
#"libgs.so.9"

In [25]:
df = tabula.read_pdf(test,stream=True,multiple_tables=True,pages='all')

In [26]:
print(len(df))
df[0]

1

,Unnamed: 0,Unnamed: 1,Pct. of List Price,Unnamed: 2,Unnamed: 3
0,Median Sales Price,Average Sales Price,NaN,Days on Market,Closed Sales
1,NaN,NaN,Received,NaN,NaN

In [24]:
df

[           Unnamed: 0           Unnamed: 1 Pct. of List Price      Unnamed: 2  \
 0  Median Sales Price  Average Sales Price                NaN  Days on Market
 1                 NaN                  NaN           Received             NaN

      Unnamed: 3
 0  Closed Sales
 1           NaN  ]

In [15]:
print(df)

[                  Unnamed: 0          Unnamed: 1           Unnamed: 2  \
0  Maricopa County ZIP Codes                 NaN                  NaN
1                        NaN  Median Sales Price  Average Sales Price
2                        NaN                 NaN                  NaN
3                        NaN                 NaN                  NaN

                     Unnamed: 3      Unnamed: 4    Unnamed: 5
0                           NaN             NaN           NaN
1  Pct. of List Price\rReceived  Days on Market  Closed Sales
2                           NaN             NaN           NaN
3                           NaN             NaN           NaN  ,     Unnamed: 0
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN,     Unnamed: 0
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN,     Unnamed: 0
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN,     Unnamed: 0
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN,     Unnamed: 0
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN]

In [14]:
df[4].head()

   Unnamed: 0
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

In [ ]:
tables = tabula.read_pdf(test,pages="all")

In [3]:
test = "ARMLS-QHS-2022-Q4_1.pdf"

In [16]:
tables =camelot.read_pdf(test)

In [19]:
tables

In [18]:
print(tables[1].df)

IndexError: list index out of range