# ACS Cost Burden for Renters and Homeowners in Phoenix Urban Villages

- https://www.census.gov/data/developers/data-sets/acs-5year.html

For income as a percentage of rent, or owner costs for with and without a mortgage
- https://api.census.gov/data/2010/acs/acs5/variables.html
- https://api.census.gov/data/2021/acs/acs5/variables.html

In [1]:
import pandas as pd
import math
import numpy as np
import os

In [2]:
import get_acs as get
import utilcalcs as calc
import geo_agg
from acs_cost_vars import *

In [3]:
bgp_10 = pd.read_csv('../data/geo/bgp_vil_10.csv')
bgp_20 = pd.read_csv('../data/geo/bgp_vil_20.csv')
for df in [bgp_10,bgp_20]: df.geoid = df.geoid.apply(lambda x: '{0:0>12}'.format(x))

In [4]:
#Search parameters - NOTE DIFFERENT VARIABLE # ASSIGNMENTS IN 2010 VS 2020
y1 = '2021'
y0 = '2010'

cols_rent = 'group(B25070)'
cols_own = 'group(B25091)'

source = 'acs/acs5'

rent_vars = ['GEO_ID']+rent_vars  #imported from acs vars
own_vars = ['GEO_ID']+own_vars    #"

In [5]:
def group_rent(df,year):
    df['r_u30_E'] = df.loc[:,r_u30_e].sum(axis=1)
    df['r_u30_M'] = df.apply(lambda x: (calc.get_moe(x[r_u30_m])),axis=1)
    df['r_3050_E'] = df.loc[:,r_3050_e].sum(axis=1)
    df['r_3050_M'] = df.apply(lambda x: (calc.get_moe(x[r_3050_m])),axis=1)
    df = df.drop(r_u30_e+r_u30_m+r_3050_e+r_3050_m,axis=1).rename(\
                    {'B25070_001E':'r_tot_E','B25070_001M':'r_tot_M',
                    'B25070_010E':'r_o50_E','B25070_010M':'r_o50_M',
                    'B25070_011E':'r_na_E', 'B25070_011M':'r_na_M'},axis=1)
    
    for col in df.columns[1:]:
        df.rename(columns={col:f'{col[:-1]}{year[-2:]}{col[-1:]}'},inplace=True)
    return df

###  RENT BURDEN

In [6]:
dfY1 = get.get_bgp(source,y1,cols_rent)
dfY1 = get.clean_data(dfY1,rent_vars)

In [7]:
dfY1 = group_rent(dfY1,y1)

In [8]:
dfY1.head()

,GEO_ID,r_tot_21E,r_tot_21M,r_o50_21E,r_o50_21M,r_na_21M,B25070_01121M,r_u30_21E,r_u30_21M,r_3050_21E,r_3050_21M
0,040130101021,55.0,87.0,0.0,13.0,55.0,87.0,0.0,29.068884,0.0,22.51666
1,040130101022,17.0,36.0,0.0,13.0,17.0,36.0,0.0,29.068884,0.0,22.51666
2,040130101023,0.0,13.0,0.0,13.0,0.0,13.0,0.0,29.068884,0.0,22.51666
3,040130101031,125.0,95.0,66.0,68.0,0.0,13.0,59.0,73.898579,0.0,22.51666
4,040130101032,37.0,44.0,0.0,13.0,0.0,13.0,37.0,51.107729,0.0,22.51666

In [ ]:
#run for owner coumns

In [ ]:
#join with geo crosswalk file for 2020

In [ ]:
#drop everything but name

In [ ]:
#use geo agg function

In [ ]:


rb_y1_E = ['DP04_0141E','DP04_0142E'] #gross rent over 30% of hh income
rb_y1_M = ['DP04_0141M','DP04_0142M']
ob_y1_E = ['DP04_0114E','DP04_0115E'] #mortgage payment over 30% of hh income
ob_y1_M = ['DP04_0114M','DP04_0115M']


var_data_y0 = ['GEO_ID','DP04_0134E','DP04_0134M','DP04_0139E','DP04_0139M','DP04_0140E','DP04_0140M',\
               'DP04_0108E','DP04_0108M','DP04_0112E','DP04_0112M','DP04_0113E','DP04_0113M']

rb_y0_E = ['DP04_0139E','DP04_0140E'] #gross rent over 30% of hh income
rb_y0_M = ['DP04_0139M','DP04_0140M']
ob_y0_E = ['DP04_0112E','DP04_0113E'] #mortgage payment over 30% of hh income
ob_y0_M = ['DP04_0112M','DP04_0113M']

## AZ geographies in Y1 and Y0, with change

In [ ]:
dfY1.head()

In [ ]:
dfY1['Rent_Burd_Y1'] = dfY1.loc[:,rb_y1_E].sum(axis=1)
dfY1['Rent_Tot_Y1'] = dfY1['DP04_0136E']
dfY1['Own_Burd_Y1'] = dfY1.loc[:,ob_y1_E].sum(axis=1)
dfY1['Own_Tot_Y1'] = dfY1['DP04_0110E']
dfY1 = dfY1.drop(var_data_y1[1:],axis=1)

In [ ]:
dfY1.head()

In [ ]:
dfY0 = get.get_county(p,source,y0,cols_y0)
dfY0 = get.clean_data(dfY0,var_data_y0)

In [ ]:
dfY0['Rent_Burd_Y0'] = dfY0.loc[:,rb_y0_E].sum(axis=1)
dfY0['Rent_Tot_Y0'] = dfY0['DP04_0134E']
dfY0['Own_Burd_Y0'] = dfY0.loc[:,ob_y0_E].sum(axis=1)
dfY0['Own_Tot_Y0'] = dfY0['DP04_0108E']
dfY0 = dfY0.drop(var_data_y0[1:],axis=1)

In [ ]:
dfY0.head()

In [ ]:
#Merge the two dataframes using the stco identifier
dfY0Y1 = pd.merge(dfY0,dfY1,how='left',on='GEO_ID')

In [ ]:
dfY0Y1.head()

In [ ]:
reg = dfY0Y1.copy()
reg['reg'] = 'Metro'
reg = reg.groupby('reg').sum().reset_index()
reg

In [ ]:
reg.to_excel('../../output/Housing/CostBurden_region_20102020.xlsx',index=False)

In [ ]:
dfY0Y1.to_excel('../../output/Housing/CostBurden_counties_20102020.xlsx',index=False)